body  {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.decor {
    font-size: 30px;
}
#date:hover { 
    background-color: red;
}
#game:hover { 
    background-color: gainsboro;
}
#date:hover { 
    background-color: gainsboro;
}
#name:hover {
      background-color: gainsboro;      
}
#score:hover {
      background-color: gainsboro;      
}
input[type="checkbox"]{
  width: 22px; 
  height: 32px;
}
#submit{
    text-align: center;
}
#btn-danger {
      border-radius: 3px;      
}