.blue {
    background-color: blue;
    width: 50%;
    float: left;
    height: 100px;
    display: inline-block;
    border: 2px solid white;
}

.red {
    background-color: red;
    width: 50%;
    height: 100px;
    display: inline-block;
    float: left;
    border: 2px solid white;
}

.yellow {
    background-color: yellow;
    width: 50%;
    height: 100px;
    display: inline-block;
    float: left;
    border: 2px solid white;
}

.green {
    background-color: green;
    width: 50%;
    height: 100px;
    display: inline-block;
    float: left;
    border: 2px solid white;
}
* {
    box-sizing: border-box;
}